* {
    color: black !important;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.header {
    position: relative;
    margin-bottom: 190px;
}

.bg-top-img {
    z-index: -1;
    position: absolute;
    top: 230px;
}

.bg-top-right-img {
    position: absolute;
    right: 0;
    top: 300px;
}

.contact_btn:hover {
    color: white !important;
}

.remember-section {
    overflow: hidden;
    position: relative;
}

.remember-section__middle {
    margin: 45px auto;
}

.remember-section__right-bg {
    position: absolute;
    right: 0;
    bottom: 25px;
}

.remember-section__left-bg {
    position: absolute;
    left: 0;
}

.remember-section__text {
    color: rgb(198, 198, 198) !important;
}

.remember-section__btn {
    margin-left: 36%;
    border: 4px solid white;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.remember-section__text {
    margin-bottom: 55px;
}

.example-section {
    display: flex;
    position: relative;
}

.example-section__content-box {
    padding-left: 59px;
    margin-top: 161px;
}

.example-section__left-bg {
    position: absolute;
    left: 0;
    top: 0;
    /* width: ; */
}

.example-section__right-bg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.example-section__content-box__examples {
    margin-right: 10px;
    margin-top: 35px;
    margin-right: 30px;
}

.place-section {
    margin-top: 270px;
    position: relative;
    margin-left: 24px;
}

.place-section__right-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 770px;
}

.place-section__top__left-bg {
    position: absolute;
    left: 10%;
}

.place-section__content-left {
    position: relative;
}

.place-section__content-left__adhesive-tape {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    rotate: -1deg;
}

.place-section__content-left__img {
    position: absolute;
    left: 40px;
    height: 680px;
    width: 530px;
}

.place-section__content-right__bottom-title {
    line-height: 48px;
    text-decoration: underline;
}

.slider {
    position: relative;
    margin-top: 300px;
}

.slider__left-bg {
    position: absolute;
    top: 0;
    left: 0;
}
.slider__right-bg {
    position: absolute;
    right: 0;
}
.slider__main {
    position: relative;
}

.slider__arow {
    height: 57px;
    border: 3px solid black;
    padding: 0px 10px;
    border-radius: 9px;
    cursor: pointer;
}

.slider__main-slider__arow-left {
    position: absolute;
    left: -34px;
}

.slider__main-slider__arow-right {
    position: absolute;
    right: -34px;
}

.slider__main-slider__slide {
    border: 2px solid black;
    border-radius: 10px;
}

.slider__main-slider__slide__profile-img {
    width: 129px;
    height: 129px;
}
.updated {
    margin-top: 200px;
}
.form-input {
    margin-top: 30px;
    width: 72%;
    border: 3px solid black;
}
.form-area {
    height: 171px;
}
@media only screen and (max-width: 1600px) {
    .example-section__content-box__examples {
        width: 30% !important;
    }
}
.form-btn {
    width: 73%;
}

.footer {
    background-color: #c4c4c4;
    margin-top: 150px;
}